button.bt {
    position: absolute;
    top: 0; 
}

div.uv {
    float: left;
    position: relative;
    top: 50px;
}
#svg_output {
    width: 45vw;
    height: 80vh;
    float: right;
    position: relative; 
    top: 50px; 
}
