#bt1 {
    position: absolute;
    top: 0;
    left: 0;
}

#bt2 {
    position: absolute;
    top: 0;
    left: 50;
}

#bt3 {
    position: absolute;
    top: 0;
    left: 100;
}

div.uv {
    float: left;
    position: relative;
    top: 50px;
}
#svg_output {
    width: 45vw;
    height: 80vh;
    float: right;
    position: relative; 
    top: 50px; 
}
